<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/ankurmay1988/index.json" />
    </packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="ankurakaet@gmail.com" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>