<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/ankurmay1988/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
        <add key="Username" value="ankurmay1988" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAYDqyJydWNEmp9JH/mZOT0AAAAAACAAAAAAAQZgAAAAEAACAAAADQr9CiV2DqWzwEba+QbPRfXACGrB7jH5j0wMEbI0ZUbgAAAAAOgAAAAAIAACAAAAAh2n1pzXi6/h/QWXgUp7H4Sqj66ixl5yqP06VAjnF2KDAAAAC7022p9q2l4otGKlCRDmDR52G7S5g19Fo7Yigy5ejdGPUn0X+L2Q+5uUiL+Mt4QU9AAAAAxHfW6PNa8unh+lNeQG116V4/WZICnMwzA4+rapogut5qdvotnOLhBp4qaQOBJcuGaL+rYpJTloRUNn07Ygy88Q==" />
      </github>
  </packageSourceCredentials>
</configuration>